body {
  margin: 0;
  overflow: hidden;
  background-color: #0a0a0a;
}

#instructions {
  position: absolute;
  color: whitesmoke;
  bottom: 0;
  padding-bottom: 6px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
